<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dev-coco.Skype-Schedule-Messages</string>
	<key>ProgramArguments</key>
	<array>
 <!--
		<string>程序路径</string>
  -->
	</array>
	<key>StartCalendarInterval</key>
	<dict>
  <!--
		<key>Minute</key>
		<integer>分钟</integer>
		<key>Hour</key>
		<integer>小时</integer>
    -->
	</dict>
</dict>
</plist>
